torch==2.0.1
torchvision==0.15.2
numpy
einops
shapely
timm
yacs
tensorboardX
ftfy
prettytable
pymongo
transformers
pycocotools
scipy
opencv-python
einops-exts
einops
addict
yapf
supervision==0.4.0
pandas